.footer{
    background: rgba();
}
/* 
Ctrl + Shift + Right(->)

https://www.udemy.com/sublime-text-3/learn/v4/t/lecture/4873426

https://packagecontrol.io/packages/Goto-CSS-Declaration

1. css 要处于打开状态
2. 光标选中css, 右键  Goto-CSS-Declaration
(快捷键，不好使？)
*/