/* reset css*/
body{
	background: rgba(255,255,255,0.7);
	color: rgba(0,0,0,1);
}


/*css 最高优先级!important*/
@keyframes animate{
	0% {background: red};
	15% {background: orange}
	30% {background: yellow}
	45% {background: green}
	60% {background: blue}
	75% {background: indigo}
	90% {background: violet}
	95% {background: white}
	100% {background: black}
}
.animate{
	/*animation: name duration timing-function delay iteration-count direction fill-mode play-state;*/
	animation: animate 7s ease 0s infinite alternate-reverse both running;
	width: 200px;
	height: 200px;
	background: radial-gradient(center, red, orange, yellow, green, blue, indigo, violet);
}
.animate span{
	justify-content: center;
	vertical-align: center;
	box-sizing: border-box;
	margin: 50px auto;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	word-break: keep-all;
}

.icon-aside{
    color:rgba(0,255,0,0.7);
}
.icon-html5 {
    color: #f16529;
}
.icon-nav{
	color: #f16529;
}
/*reset css*/
body,h1{
	margin: 0;
	pading: 0;
	/*background: rgba(0,0,0,0.7);*/
}
.header{
	/*background: rgba(255,255,0,0.7);*/
	background: url(./images/section-title-bg.png);
	width: 100%;
	top: 0;
	margin: 0 auto;
	box-sizing: border-box;
	align-content: center;
	vertical-align: center;
	/*text-align: center;*/
}
.header>h1{
	text-align: center;
	color: rgba(255,0,255,0.7);
	text-shadow: 3px 5px 7px #000000;
}
.header nav ul.nav-ul{
	/*background: rgba(0,0,0,0.7);*/
	display: block;
	box-sizing: border-box;
	align-content: center;
	vertical-align: center;
	width: 80%;
	margin: auto 5%;
	height: 56px;
}
.header nav ul.nav-ul>li{
	float: left;
	width: 100px;
	height: 50px;
	box-sizing: border-box;
	align-content: center;
	vertical-align: center;
	background: rgba(0,255,0,0.7);
	margin: auto 30px;
}
.header nav ul.nav-ul>li i:hover{
	transform: scale(3) rotate(360deg);
	transition: all 1s linear 0s;
}
.aside{
	/*border: 1px solid red;*/
	background: rgba(0,0,0,0.7);
	width: 30%;
	/*float: left;*/
	float: right;
	box-sizing: border-box;
	align-content: center;
	vertical-align: center;
}
.aside ul{
	/**/
}
.aside ul.fa-ul>li{
	display: inline-block;
	width: 100%;
	height: 50px;
	margin: 10px;
}
.main{
	/*background: rgba(255,0,255,0.7);*/
	background: rgba(0,0,0,0.5);
	width: 60%;
	margin: auto 5%;
	/*float: left;*/
}
.main .section0 > img{
	width: 100%;
}
.main .section1 div.qr li i{
	/*background: black;*/
	color: green;
	width: 32px;
	height: 32px;
	cursor: pointer;
}
.main .section1 div.qr li i:hover{
	/*background: url(./images/qrcode.png) no-repeat;*/
	color: red;
	transform: scale(3);
	transition: all 1s linear 0s;
	width: 32px;
	height: 32px;
}
.main .section-star div.rating{
	unicode-bidi: bidi-override;
	direction: rtl;
	/*direction: ltr;*/
	background-color: rgba(255,255,255,0.7);
	width: 100px;
	padding: 0 15px;
	align-content: center;
	box-sizing: border-box;
}
.main .section-star div.rating span{
	cursor: pointer;
	/*background-color: rgba(255,255,255,0.7);*/
	color: rgba(0,255,0,0.7);
}
/*
	content:'\2606'; === &#9734; === ☆;
	content:'\2606'; === &#9733; === ★; 
	https://css-tricks.com/star-ratings
*/
.main .section-star div.rating > span:hover{
	cursor: pointer;			
}
.main .section-star div.rating > span:hover:before, div.rating > span:hover ~ span:before{
	content: "\2605";
	position: absolute;
	color: rgba(255,255,0,0.7);
	transition: all 0.5s;
}